<h3>{{ character.character_name }}</h3>

<h4>Abilities</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary" ng-repeat="abilityType in character.ability_types">
            <div class="panel-heading">
                <h3 class="panel-title">{{ abilityType.ability_type }}</h3>
            </div>
            <div class="panel-body">
                <a ng-href="#{{ abilityType.ability_type | lowercase }}-ability" data-toggle="collapse" aria-expanded="false" aria-controls="{{ abilityType.ability_type | lowercase }}-ability">Click to expand...</a>
                <div id="{{ abilityType.ability_type | lowercase }}-ability" class="list-group collapse">
                    <div class="list-group-item" ng-repeat="ability in abilityType.abilities | orderBy : ['level', 'points']">
                        <h5 class="list-group-item-heading">{{ ability.ability_name }}</h5>
                        <p class="list-group-item-text">{{ ability.ability_info }}</p>
                        <table class="table ability-table">
                            <thead>
                            <tr>
                                <th ng-repeat="(key, value) in ability" ng-if="$index >= 6 && value !== null">{{ key }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="(key, value) in ability" ng-if="$index >= 6 && value !== null">{{ value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>